@model Covid_Vaccination_core.ViewModels.UserLoginViewModel

@{
    var phsession = @httpContextAccessor.HttpContext.Session.GetString("phoneno");
}

<html>
<head>
    <title></title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <!-- Navbar content -->
        <a class="navbar-brand" href="/default.html">Co-Win</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a asp-controller="User" asp-action="Login" class="nav-link">Login</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="User" asp-action="Registration" class="nav-link">Registration</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Slot" asp-action="Book" class="nav-link">Book Your Slot</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Slot" asp-action="Check" class="nav-link">Check Status</a>
                </li>
            </ul>
        </div>
        @if (phsession != null)
        {
            <label id="navuser" class="text-warning mr-5">Welcome @ViewBag.user.Name</label>
        }
        else
        {
            <label id="navuser" class="text-warning mr-5">Please Login</label>
        }
        <input type="button" value="Logout" Text="Logout" class="btn btn-outline-success my-2 my-sm-0" onclick="location.href='@Url.Action("LogOut", "Home")'" />
    </nav>

    <header class="jumbotron" style="background-color:#33cc33;">
        <h1 class="text-center display-3" id="title"> Login Form </h1>
        <div class="container">
            <p id="description" class="lead">
                WEAR YOUR SAFETY GEAR LIVE LIFE WITHOUT FEAR
            </p>
        </div>
    </header>

    <div class="container">
        <h2 class="display-5"> Login Info </h2>
        <span asp-validation-summary="All" class="text-danger"></span>
        <Form asp-controller="User" asp-action="Login" method="post">

            <!-- TEXTB0X: Phone Number -->
            <span asp-validation-for="Phoneno" class="text-danger"></span>
            <div class="form-group d-flex">
                <input asp-for="Phoneno" class="form-control" type="text" id="Phoneno" placeholder="Phone Number">
            </div>

            <!-- TEXTB0X: Password -->
            <span asp-validation-for="Password" class="text-danger"></span>
            <div class="form-group d-flex">
                <input asp-for="Password" class="form-control" type="password" id="Password" placeholder="Password">
            </div>


            <!-- BUTTON: SUBMIT -->
            <button type="submit" class="btn btn-primary mb-5">Login</button>

        </Form>

    </div>

</body>
</html>
